.DS_Store
_minted*
*.pyg
orga/picsource/TL-MR3020-03.jpg
orga/picsource/tp-link-tl-mr3420/TL-MR3420-05.jpg
orga/picsource/tp-link-tl-mr3420/TL-MR3420-04.jpg
orga/picsource/tp-link-tl-mr3420/TL-MR3420-04-2.jpg
orga/picsource/tp-link-tl-mr3420/TL-MR3420-01.jpg
